/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-logo {
  background: linear-gradient(to right, #2D2D2D, #0A2647, #FFA500);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}